<div class="col-md-4">
  <div class="post">
    <a href="/posts/<%= post.id %>">
      <%= image_tag post.post_img.url, class: "post_image" %>
    </a>
    <div class="row">
      <div class="col-md-6">
        <p><%= link_to post.title, post_path(post.id) %></p>
      </div>
      <% if user_signed_in? %>
        <% if post.user_id == current_user.id %>
          <div class="col-md-6">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Edit", edit_post_path(post.id) %></li>
              </ul>
            </li>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

