<% provide :title, t("posts.edit.edit") %>
<% provide :button_text, "Save" %>
<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <div class="edit-post-form">
      <h1><%= t "posts.new.edit_post" %></h1>
      <%= render "posts/post_form" %>
    </div>
  </div>
</div>
